In [66]:
import os
import sys
import glob
from os import walk
import pandas as pd
import numpy as np
import xml.etree.ElementTree as ET

In [393]:
caminho = 'C:/Users/Diego/Desktop/pythonRead'
extensao = '**/*.csv'

for path,folder,file in os.walk(caminho,"**/*.csv" ):
    print(folder)
    print(file)
    print(len(file))
    print("Total de Arquivos:" + str(sum(len(file)for _, _, file in os.walk(caminho))))
print("*****************") 
for listandoExtensao in glob.glob(caminho + extensao, recursive = True):
    print(listandoExtensao)
print("Total Filtro(Extensões):" + str(len(glob.glob(caminho + extensao))))

['plainText', 'xml']
['dataSetAnimais.csv', 'exejoin.xlsx', 'exejoin01.csv', 'exejoin02.csv', 'exejoin03.csv', 'exemploDados.pbix', 'forest-fires-data-set.zip', 'forestfires.csv', 'instalandocaptadoremg.pdf', 'planilhaParaTeste.csv', 'predi.xlsx', 'train - Copia.csv', 'train.csv', 'traincsv.zip', 'transformacaoteste.ktr']
15
Total de Arquivos:18
[]
['plaintext.txt']
1
Total de Arquivos:18
[]
['docxml.xml', 'docxml2.xml']
2
Total de Arquivos:18
*****************
C:/Users/Diego/Desktop\pythonRead\dataSetAnimais.csv
C:/Users/Diego/Desktop\pythonRead\exejoin01.csv
C:/Users/Diego/Desktop\pythonRead\exejoin02.csv
C:/Users/Diego/Desktop\pythonRead\exejoin03.csv
C:/Users/Diego/Desktop\pythonRead\forestfires.csv
C:/Users/Diego/Desktop\pythonRead\planilhaParaTeste.csv
C:/Users/Diego/Desktop\pythonRead\train - Copia.csv
C:/Users/Diego/Desktop\pythonRead\train.csv
Total Filtro(Extensões):8

In [22]:
import os
import sys
import pandas as pd

caminho = "C:/pastaX/pastaY/pastaZ/dataSetAnimais.csv"
df = pd.read_csv(caminho)
df.index.name = "Index"

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
Index,,,,,,,,,,,,,
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent,Control
1,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent,Control
2,224,9,13,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
3,266,10,16,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
4,349,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control

In [24]:
import os
import sys
import pandas as pd

caminho = "C:/pastaX/pastaY/pastaZ/dataSetAnimais.csv"
df = pd.read_csv(caminho)
df.index.name = "Index"
df.head()
df.count()
df.columns
df.index

RangeIndex(start=0, stop=34786, step=1, name='Index')

In [47]:
#Substituir o caminho da variável em caminho
#Substituir extensão - exemplo .txt,.csv,.xml...
#Obs: Para a busca por extensão precisa estar na pasta raiz. 
import os
import sys
import glob
from os import walk

caminho = 'C:/pastaX/pastaY/pastaZ'
extensao = '**/*.csv' 

for path,folder,files in os.walk(caminho):
    print("Buscando Arquivos na Pasta: " + str(caminho))
    print("-------------------------------------------")
    print("Pasta: " + str(path))
    print("Arquivos: " + str(files))
    print(len(files))
print("Total de Arquivos: " + str(sum(len(files)for _, _, files in os.walk(caminho))))
#Buscando por Extensão
print("-------------------------------------------")
print("Buscando Arquivos pela Extensão: " + str(extensao))
for listandoExtensao in glob.glob(caminho + extensao,recursive = True):
    print(listandoExtensao)
print("Total Filtro(Extensões):" + str(len(glob.glob(caminho + extensao))))

Total de Arquivos: 0
-------------------------------------------
Buscando Arquivos pela Extensão: **/*.csv
Total Filtro(Extensões):0

In [49]:
#Substituir o caminho da variável em caminho
#Substituir extensão - exemplo .txt,.csv,.xml...
#Obs: Para a busca por extensão precisa estar na pasta raiz. 

caminho = 'C:/Users/Diego/Desktop/pythonRead'
extensao = '**/*.csv' 

for files in glob.glob(caminho, recursive = True):
    print("Buscando Arquivos na Pasta: " + str(caminho))
    print("-------------------------------------------")
    #print("Pasta: " + str(path))
    print("Arquivos: " + str(files))
    print(len(files))
print("Total de Arquivos: " + str(sum(len(files)for _, _, files in os.walk(caminho))))
#Buscando por Extensão
print("-------------------------------------------")
print("Buscando Arquivos pela Extensão: " + str(extensao))
for listandoExtensao in glob.glob(caminho + extensao,recursive = True):
    print(listandoExtensao)
print("Total Filtro(Extensões):" + str(len(glob.glob(caminho + extensao))))

Buscando Arquivos na Pasta: C:/Users/Diego/Desktop/pythonRead
-------------------------------------------
Arquivos: C:/Users/Diego/Desktop/pythonRead
33
Total de Arquivos: 18
-------------------------------------------
Buscando Arquivos pela Extensão: **/*.csv
C:/Users/Diego/Desktop\pythonRead\dataSetAnimais.csv
C:/Users/Diego/Desktop\pythonRead\exejoin01.csv
C:/Users/Diego/Desktop\pythonRead\exejoin02.csv
C:/Users/Diego/Desktop\pythonRead\exejoin03.csv
C:/Users/Diego/Desktop\pythonRead\forestfires.csv
C:/Users/Diego/Desktop\pythonRead\planilhaParaTeste.csv
C:/Users/Diego/Desktop\pythonRead\train - Copia.csv
C:/Users/Diego/Desktop\pythonRead\train.csv
Total Filtro(Extensões):8

In [77]:
caminho = 'C:/Users/Diego/Desktop/pythonRead'
for files in glob.glob(r'C:/Users/Diego/Desktop/pythonRead' + '**/*',recursive=True):
    print(files)
print(len(glob.glob(caminho+'**/*')))

C:/Users/Diego/Desktop\pythonRead\dataSetAnimais.csv
C:/Users/Diego/Desktop\pythonRead\exejoin.xlsx
C:/Users/Diego/Desktop\pythonRead\exejoin01.csv
C:/Users/Diego/Desktop\pythonRead\exejoin02.csv
C:/Users/Diego/Desktop\pythonRead\exejoin03.csv
C:/Users/Diego/Desktop\pythonRead\exemploDados.pbix
C:/Users/Diego/Desktop\pythonRead\forest-fires-data-set.zip
C:/Users/Diego/Desktop\pythonRead\forestfires.csv
C:/Users/Diego/Desktop\pythonRead\instalandocaptadoremg.pdf
C:/Users/Diego/Desktop\pythonRead\maiscoisas
C:/Users/Diego/Desktop\pythonRead\planilhaParaTeste.csv
C:/Users/Diego/Desktop\pythonRead\predi.xlsx
C:/Users/Diego/Desktop\pythonRead\train - Copia.csv
C:/Users/Diego/Desktop\pythonRead\train.csv
C:/Users/Diego/Desktop\pythonRead\traincsv.zip
C:/Users/Diego/Desktop\pythonRead\transformacaoteste.ktr
C:/Users/Diego/Desktop\pythonRead\xml
17

In [69]:
for path,folder,files in os.walk(caminho):
    print(files)
    print("Total de Arquivos: " + str(sum(len(files)for _, _, files in os.walk(caminho))))

['dataSetAnimais.csv', 'exejoin.xlsx', 'exejoin01.csv', 'exejoin02.csv', 'exejoin03.csv', 'exemploDados.pbix', 'forest-fires-data-set.zip', 'forestfires.csv', 'instalandocaptadoremg.pdf', 'planilhaParaTeste.csv', 'predi.xlsx', 'train - Copia.csv', 'train.csv', 'traincsv.zip', 'transformacaoteste.ktr']
Total de Arquivos: 20
['algo.bmp', 'maisFile.docx', 'semanaSe.txt']
Total de Arquivos: 20
['docxml.xml', 'docxml2.xml']
Total de Arquivos: 20

In [197]:
#Vamos usar os pandas
#print('\n'.join(map(str, a))) 

#Substituir o caminho da variável em caminho
#Substituir extensão - exemplo .txt,.csv,.xml...
#Obs: Para a busca por extensão precisa estar na pasta raiz. 

caminho = 'C:/Users/Diego/Desktop/pythonRead'
extensao = '**/*.csv'

for path,folder,files in os.walk(caminho):
    print(*folder,sep = "\n")
    print(*files,sep = "\n")

maiscoisas
xml
dataSetAnimais.csv
exejoin.xlsx
exejoin01.csv
exejoin02.csv
exejoin03.csv
exemploDados.pbix
forest-fires-data-set.zip
forestfires.csv
instalandocaptadoremg.pdf
planilhaParaTeste.csv
predi.xlsx
train - Copia.csv
train.csv
traincsv.zip
transformacaoteste.ktr

algo.bmp
maisFile.docx
semanaSe.txt

docxml.xml
docxml2.xml

In [115]:
al = ['diego',33,'Delevedove']
al2 = ['Programador','aikidoka','sayajin']
df = pd.DataFrame(index=[al],columns=["Nome"])
df

           Nome
diego       NaN
33          NaN
Delevedove  NaN

In [150]:
al = ['diego',33,'Delevedove']
al2 = ['Programador','aikidoka','sayajin']
print(al[:])


string = "nome de , alguém que sabe, nada, opa"
print(string.split(","))

['diego', 33, 'Delevedove']
['nome de ', ' alguém que sabe', ' nada', ' opa']

In [183]:
#Substituir o caminho da variável por outro caminho válido 

import os
import sys
import glob
from os import walk

caminho = 'C:/pastaX/pastaY/pastaZ'

for path,folder,files in os.walk(caminho):
    print("\n")
    print("Buscando Arquivos na Pasta: " + str(caminho))
    print("-------------------------------------------")
    print("Pasta: " + path)
    print("Arquivos" + '\n'.join(map(str,files)))
    print(len(files))
print("Total de Arquivos em todas as pastas: " + str(sum(len(files)for _, _, files in os.walk(caminho))))

Buscando Arquivos na Pasta: C:/Users/Diego/Desktop/pythonRead
-------------------------------------------
Pasta: C:/Users/Diego/Desktop/pythonRead
ArquivosdataSetAnimais.csv
exejoin.xlsx
exejoin01.csv
exejoin02.csv
exejoin03.csv
exemploDados.pbix
forest-fires-data-set.zip
forestfires.csv
instalandocaptadoremg.pdf
planilhaParaTeste.csv
predi.xlsx
train - Copia.csv
train.csv
traincsv.zip
transformacaoteste.ktr
15


Buscando Arquivos na Pasta: C:/Users/Diego/Desktop/pythonRead
-------------------------------------------
Pasta: C:/Users/Diego/Desktop/pythonRead\maiscoisas
Arquivosalgo.bmp
maisFile.docx
semanaSe.txt
3


Buscando Arquivos na Pasta: C:/Users/Diego/Desktop/pythonRead
-------------------------------------------
Pasta: C:/Users/Diego/Desktop/pythonRead\xml
Arquivosdocxml.xml
docxml2.xml
2
Total de Arquivos em todas as pastas: 20

In [195]:
#Buscando Arquivos pela extensão
#Obs: Para a busca por extensão precisa estar na pasta raiz. 

import os
import sys
import glob
from os import walk

extensao = '**/*.csv'
print("Buscando Arquivos pela Extensão: " + str(extensao))
for listandoExtensao in glob.glob(caminho + extensao,recursive = True):
    print(str(listandoExtensao))
print("Filtrando por Extensão:" + str(len(glob.glob(caminho + extensao))))

Buscando Arquivos pela Extensão: **/*.csv
C:/Users/Diego/Desktop\pythonRead\dataSetAnimais.csv
C:/Users/Diego/Desktop\pythonRead\exejoin01.csv
C:/Users/Diego/Desktop\pythonRead\exejoin02.csv
C:/Users/Diego/Desktop\pythonRead\exejoin03.csv
C:/Users/Diego/Desktop\pythonRead\forestfires.csv
C:/Users/Diego/Desktop\pythonRead\planilhaParaTeste.csv
C:/Users/Diego/Desktop\pythonRead\train - Copia.csv
C:/Users/Diego/Desktop\pythonRead\train.csv
Total Filtro(Extensões):8

In [247]:
#Substituir o caminho da variável em caminho
caminho = 'C:/Users/Diego/Desktop/pythonRead/'

for path,files,folder in os.walk(caminho):
    df = pd.DataFrame(files,columns=["arquivos"])
df

Empty DataFrame
Columns: [arquivos]
Index: []

In [248]:
extensao = '**/*.csv'
print("Buscando Arquivos pela Extensão: " + str(extensao))
for listandoExtensao in glob.glob(caminho + extensao,recursive = True):
    print(str(listandoExtensao))
print("Total Filtro(Extensões):" + str(len(glob.glob(caminho + extensao))))

Buscando Arquivos pela Extensão: **/*.csv
C:/Users/Diego/Desktop\pythonRead\dataSetAnimais.csv
C:/Users/Diego/Desktop\pythonRead\exejoin01.csv
C:/Users/Diego/Desktop\pythonRead\exejoin02.csv
C:/Users/Diego/Desktop\pythonRead\exejoin03.csv
C:/Users/Diego/Desktop\pythonRead\forestfires.csv
C:/Users/Diego/Desktop\pythonRead\planilhaParaTeste.csv
C:/Users/Diego/Desktop\pythonRead\train - Copia.csv
C:/Users/Diego/Desktop\pythonRead\train.csv
Total Filtro(Extensões):8

In [110]:
dt = pd.read_csv("C:/Users/Diego/Desktop/pythonRead/dataSetAnimais.csv")
dt.count()

record_id          34786
month              34786
day                34786
year               34786
plot_id            34786
species_id         34786
sex                33038
hindfoot_length    31438
weight             32283
genus              34786
species            34786
taxa               34786
plot_type          34786
dtype: int64

In [2]:
import os
import sys
import pandas as pd

df = pd.read_csv(caminho)
#Editando o formato da data e mesclando 3 colunas
df["Data"] = df.day.map(str)+"/"+df.month.map(str)+"/"+df.year.map(str)

#Editando o nome das colunas que irão permanecer
renomear = df.rename(columns={"genus":"Gênero","species":"Espécie"})
renomear.index.name = "Index"
renomear[["Data","Gênero","Espécie"]].head()

             Data   Gênero   Espécie
Index
0       16/7/1977  Neotoma  albigula
1       19/8/1977  Neotoma  albigula
2       13/9/1977  Neotoma  albigula
3      16/10/1977  Neotoma  albigula
4      12/11/1977  Neotoma  albigula

In [15]:
dataframe = pd.read_csv("C:/Users/Diego/Desktop/pythonRead/dataSetAnimais.csv")
dt = pd.DataFrame(dataframe)
dt.head()
dt[["day","month","year","genus","species"]].head()
dt[["day"]+["month"]+["year"]].head()
dgs = dt["day"].map(str)+"/"+dt["month"].map(str)+"/"+dt["year"].map(str)+","+dt["genus"]+","+dt["species"]
dgs.head()
dataf = pd.DataFrame(dgs)
dataf
dt["Data"] = dt.day.map(str)+"/"+dt.month.map(str)+"/"+dt.year.map(str)
#Dont up erase

dt2 = pd.DataFrame(dt)
dt2.rename(columns={"genus":"Gênero","species":"Espécies"}).head()


#dont bottle erase

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,Gênero,Espécies,taxa,plot_type,Data
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent,Control,16/7/1977
1,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent,Control,19/8/1977
2,224,9,13,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control,13/9/1977
3,266,10,16,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control,16/10/1977
4,349,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control,12/11/1977

In [41]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                     'D': ['D2', 'D3', 'D6', 'D7'],
                     'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
 

result = pd.concat([df1, df4], axis=1, sort=False)
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [64]:
from lxml import etree
import etree as ET


tree = ET.parse('C:/Users/Diego/Desktop/exemploXml.xml')
root = tree.getroot()
print(ET.tostring(root,encoding='utf8').decode('utf8')) # retornando o elemento com a estrutura original

ModuleNotFoundError: No module named 'etree'

In [142]:
#Parsingm um xml
#Fonte = view-source:https://www.w3schools.com/xml/cd_catalog.xml
#https://www.datacamp.com/community/tutorials/python-xml-elementtree
#Perceba que tem tipos de xml diferentes e portanto o parse dos elementos internos também do artigo pra outros
#https://docs.python.org/3/library/xml.etree.elementtree.html
#https://medium.com/@robertopreste/from-xml-to-pandas-dataframes-9292980b1c1c
import xml.etree.ElementTree as ET


#caminho = "C:/Users/Diego/Desktop/exemploXml.xml"
#fonte = open(caminho).read()
#fonte

#attrib é conteúdo dentro da tag
#elem é a tag
#iter é o elemento de atribuição interna "nome" = "valor" se passar uma palavra como parâmetro ele retornar todas
#text é o texto entre as tags
tree = ET.parse('C:/Users/Diego/Desktop/exemploXml.xml')
root = tree.getroot()
#print(ET.tostring(root,encoding='utf8').decode('utf8')) # retornando o elemento com a estrutura original

#ignorar esse for
#for child in raiz:
#    print(child.tag,child.attrib)
#ignorar esse for

#Separando por titulo da Tag
#for tagxml in root.iter("TITLE"):
#    print(tagxml.tag,tagxml.text)# tag do xml

#Retornando a tag e o valor do texto
for tagxml in root.iter():
    coltitulo = tagxml.tag
    coltexto = tagxml.text
    #print(tagxml.tag,",",tagxml.text)# tag do xml

CATALOG ,

CD ,

TITLE , Empire Burlesque
ARTIST , Bob Dylan
COUNTRY , USA
COMPANY , Columbia
PRICE , 10.90
YEAR , 1985
CD ,

TITLE , Hide your heart
ARTIST , Bonnie Tyler
COUNTRY , UK
COMPANY , CBS Records
PRICE , 9.90
YEAR , 1988
CD ,

TITLE , Greatest Hits
ARTIST , Dolly Parton
COUNTRY , USA
COMPANY , RCA
PRICE , 9.90
YEAR , 1982
CD ,

TITLE , Still got the blues
ARTIST , Gary Moore
COUNTRY , UK
COMPANY , Virgin records
PRICE , 10.20
YEAR , 1990
CD ,

TITLE , Eros
ARTIST , Eros Ramazzotti
COUNTRY , EU
COMPANY , BMG
PRICE , 9.90
YEAR , 1997
CD ,

TITLE , One night only
ARTIST , Bee Gees
COUNTRY , UK
COMPANY , Polydor
PRICE , 10.90
YEAR , 1998
CD ,

TITLE , Sylvias Mother
ARTIST , Dr.Hook
COUNTRY , UK
COMPANY , CBS
PRICE , 8.10
YEAR , 1973
CD ,

TITLE , Maggie May
ARTIST , Rod Stewart
COUNTRY , UK
COMPANY , Pickwick
PRICE , 8.50
YEAR , 1990
CD ,

TITLE , Romanza
ARTIST , Andrea Bocelli
COUNTRY , EU
COMPANY , Polydor
PRICE , 10.80
YEAR , 1996
CD ,

TITLE , When a man loves a woman
ARTIST , Percy Sledge
COUNTRY , USA
COMPANY , Atlantic
PRICE , 8.70
YEAR , 1987
CD ,

TITLE , Black angel
ARTIST , Savage Rose
COUNTRY , EU
COMPANY , Mega
PRICE , 10.90
YEAR , 1995
CD ,

TITLE , 1999 Grammy Nominees
ARTIST , Many
COUNTRY , USA
COMPANY , Grammy
PRICE , 10.20
YEAR , 1999
CD ,

TITLE , For the good times
ARTIST , Kenny Rogers
COUNTRY , UK
COMPANY , Mucik Master
PRICE , 8.70
YEAR , 1995
CD ,

TITLE , Big Willie style
ARTIST , Will Smith
COUNTRY , USA
COMPANY , Columbia
PRICE , 9.90
YEAR , 1997
CD ,

TITLE , Tupelo Honey
ARTIST , Van Morrison
COUNTRY , UK
COMPANY , Polydor
PRICE , 8.20
YEAR , 1971
CD ,

TITLE , Soulsville
ARTIST , Jorn Hoel
COUNTRY , Norway
COMPANY , WEA
PRICE , 7.90
YEAR , 1996
CD ,

TITLE , The very best of
ARTIST , Cat Stevens
COUNTRY , UK
COMPANY , Island
PRICE , 8.90
YEAR , 1990
CD ,

TITLE , Stop
ARTIST , Sam Brown
COUNTRY , UK
COMPANY , A and M
PRICE , 8.90
YEAR , 1988
CD ,

TITLE , Bridge of Spies
ARTIST , T'Pau
COUNTRY , UK
COMPANY , Siren
PRICE , 7.90
YEAR , 1987
CD ,

TITLE , Private Dancer
ARTIST , Tina Turner
COUNTRY , UK
COMPANY , Capitol
PRICE , 8.90
YEAR , 1983
CD ,

TITLE , Midt om natten
ARTIST , Kim Larsen
COUNTRY , EU
COMPANY , Medley
PRICE , 7.80
YEAR , 1983
CD ,

TITLE , Pavarotti Gala Concert
ARTIST , Luciano Pavarotti
COUNTRY , UK
COMPANY , DECCA
PRICE , 9.90
YEAR , 1991
CD ,

TITLE , The dock of the bay
ARTIST , Otis Redding
COUNTRY , USA
COMPANY , Stax Records
PRICE , 7.90
YEAR , 1968
CD ,

TITLE , Picture book
ARTIST , Simply Red
COUNTRY , EU
COMPANY , Elektra
PRICE , 7.20
YEAR , 1985
CD ,

TITLE , Red
ARTIST , The Communards
COUNTRY , UK
COMPANY , London
PRICE , 7.80
YEAR , 1987
CD ,

TITLE , Unchain my heart
ARTIST , Joe Cocker
COUNTRY , USA
COMPANY , EMI
PRICE , 8.20
YEAR , 1987

In [67]:
import pandas as pd
from lxml import etree
import xml.etree.ElementTree as ET 

data = "C:/Users/Diego/Desktop/exemploXml.xml"

tree = etree.parse(data)

lstKey = []
lstValue = []
for p in tree.iter() :
    lstKey.append(tree.getpath(p).replace("/",".")[1:])
    lstValue.append(p.text)

df = pd.DataFrame({'key' : lstKey, 'value' : lstValue}).head()
df.sort_values('key').head()

OSError: Error reading file 'C:/Users/Diego/Desktop/exemploXml.xml': failed to load external entity "C:/Users/Diego/Desktop/exemploXml.xml"

In [69]:
import xml.etree.ElementTree as ET 

tree = ET.parse('C:/pastaX/pastaY/pastaZ/exemploXml.xml')
root = tree.getroot()
print(ET.tostring(root,encoding='utf8').decode('utf8')) # retornando o elemento com a estrutura original

<?xml version='1.0' encoding='utf8'?>
<CATALOG>
  <CD>
    <TITLE>Empire Burlesque</TITLE>
    <ARTIST>Bob Dylan</ARTIST>
    <COUNTRY>USA</COUNTRY>
    <COMPANY>Columbia</COMPANY>
    <PRICE>10.90</PRICE>
    <YEAR>1985</YEAR>
  </CD>
  <CD>
    <TITLE>Hide your heart</TITLE>
    <ARTIST>Bonnie Tyler</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>CBS Records</COMPANY>
    <PRICE>9.90</PRICE>
    <YEAR>1988</YEAR>
  </CD>
  <CD>
    <TITLE>Greatest Hits</TITLE>
    <ARTIST>Dolly Parton</ARTIST>
    <COUNTRY>USA</COUNTRY>
    <COMPANY>RCA</COMPANY>
    <PRICE>9.90</PRICE>
    <YEAR>1982</YEAR>
  </CD>
  <CD>
    <TITLE>Still got the blues</TITLE>
    <ARTIST>Gary Moore</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>Virgin records</COMPANY>
    <PRICE>10.20</PRICE>
    <YEAR>1990</YEAR>
  </CD>
  <CD>
    <TITLE>Eros</TITLE>
    <ARTIST>Eros Ramazzotti</ARTIST>
    <COUNTRY>EU</COUNTRY>
    <COMPANY>BMG</COMPANY>
    <PRICE>9.90</PRICE>
    <YEAR>1997</YEAR>
  </CD>
  <CD>
    <TITLE>One night only</TITLE>
    <ARTIST>Bee Gees</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>Polydor</COMPANY>
    <PRICE>10.90</PRICE>
    <YEAR>1998</YEAR>
  </CD>
  <CD>
    <TITLE>Sylvias Mother</TITLE>
    <ARTIST>Dr.Hook</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>CBS</COMPANY>
    <PRICE>8.10</PRICE>
    <YEAR>1973</YEAR>
  </CD>
  <CD>
    <TITLE>Maggie May</TITLE>
    <ARTIST>Rod Stewart</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>Pickwick</COMPANY>
    <PRICE>8.50</PRICE>
    <YEAR>1990</YEAR>
  </CD>
  <CD>
    <TITLE>Romanza</TITLE>
    <ARTIST>Andrea Bocelli</ARTIST>
    <COUNTRY>EU</COUNTRY>
    <COMPANY>Polydor</COMPANY>
    <PRICE>10.80</PRICE>
    <YEAR>1996</YEAR>
  </CD>
  <CD>
    <TITLE>When a man loves a woman</TITLE>
    <ARTIST>Percy Sledge</ARTIST>
    <COUNTRY>USA</COUNTRY>
    <COMPANY>Atlantic</COMPANY>
    <PRICE>8.70</PRICE>
    <YEAR>1987</YEAR>
  </CD>
  <CD>
    <TITLE>Black angel</TITLE>
    <ARTIST>Savage Rose</ARTIST>
    <COUNTRY>EU</COUNTRY>
    <COMPANY>Mega</COMPANY>
    <PRICE>10.90</PRICE>
    <YEAR>1995</YEAR>
  </CD>
  <CD>
    <TITLE>1999 Grammy Nominees</TITLE>
    <ARTIST>Many</ARTIST>
    <COUNTRY>USA</COUNTRY>
    <COMPANY>Grammy</COMPANY>
    <PRICE>10.20</PRICE>
    <YEAR>1999</YEAR>
  </CD>
  <CD>
    <TITLE>For the good times</TITLE>
    <ARTIST>Kenny Rogers</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>Mucik Master</COMPANY>
    <PRICE>8.70</PRICE>
    <YEAR>1995</YEAR>
  </CD>
  <CD>
    <TITLE>Big Willie style</TITLE>
    <ARTIST>Will Smith</ARTIST>
    <COUNTRY>USA</COUNTRY>
    <COMPANY>Columbia</COMPANY>
    <PRICE>9.90</PRICE>
    <YEAR>1997</YEAR>
  </CD>
  <CD>
    <TITLE>Tupelo Honey</TITLE>
    <ARTIST>Van Morrison</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>Polydor</COMPANY>
    <PRICE>8.20</PRICE>
    <YEAR>1971</YEAR>
  </CD>
  <CD>
    <TITLE>Soulsville</TITLE>
    <ARTIST>Jorn Hoel</ARTIST>
    <COUNTRY>Norway</COUNTRY>
    <COMPANY>WEA</COMPANY>
    <PRICE>7.90</PRICE>
    <YEAR>1996</YEAR>
  </CD>
  <CD>
    <TITLE>The very best of</TITLE>
    <ARTIST>Cat Stevens</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>Island</COMPANY>
    <PRICE>8.90</PRICE>
    <YEAR>1990</YEAR>
  </CD>
  <CD>
    <TITLE>Stop</TITLE>
    <ARTIST>Sam Brown</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>A and M</COMPANY>
    <PRICE>8.90</PRICE>
    <YEAR>1988</YEAR>
  </CD>
  <CD>
    <TITLE>Bridge of Spies</TITLE>
    <ARTIST>T'Pau</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>Siren</COMPANY>
    <PRICE>7.90</PRICE>
    <YEAR>1987</YEAR>
  </CD>
  <CD>
    <TITLE>Private Dancer</TITLE>
    <ARTIST>Tina Turner</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>Capitol</COMPANY>
    <PRICE>8.90</PRICE>
    <YEAR>1983</YEAR>
  </CD>
  <CD>
    <TITLE>Midt om natten</TITLE>
    <ARTIST>Kim Larsen</ARTIST>
    <COUNTRY>EU</COUNTRY>
    <COMPANY>Medley</COMPANY>
    <PRICE>7.80</PRICE>
    <YEAR>1983</YEAR>
  </CD>
  <CD>
    <TITLE>Pavarotti Gala Concert</TITLE>
    <ARTIST>Luciano Pavarotti</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>DECCA</COMPANY>
    <PRICE>9.90</PRICE>
    <YEAR>1991</YEAR>
  </CD>
  <CD>
    <TITLE>The dock of the bay</TITLE>
    <ARTIST>Otis Redding</ARTIST>
    <COUNTRY>USA</COUNTRY>
    <COMPANY>Stax Records</COMPANY>
    <PRICE>7.90</PRICE>
    <YEAR>1968</YEAR>
  </CD>
  <CD>
    <TITLE>Picture book</TITLE>
    <ARTIST>Simply Red</ARTIST>
    <COUNTRY>EU</COUNTRY>
    <COMPANY>Elektra</COMPANY>
    <PRICE>7.20</PRICE>
    <YEAR>1985</YEAR>
  </CD>
  <CD>
    <TITLE>Red</TITLE>
    <ARTIST>The Communards</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <COMPANY>London</COMPANY>
    <PRICE>7.80</PRICE>
    <YEAR>1987</YEAR>
  </CD>
  <CD>
    <TITLE>Unchain my heart</TITLE>
    <ARTIST>Joe Cocker</ARTIST>
    <COUNTRY>USA</COUNTRY>
    <COMPANY>EMI</COMPANY>
    <PRICE>8.20</PRICE>
    <YEAR>1987</YEAR>
  </CD>
</CATALOG>

In [2]:
import xml.etree.ElementTree as ET 
import pandas as pd
caminho = "C:/Users/Diego/Desktop/pythonRead/exemploXml.xml"

#Arvore do xml
tree = ET.parse(caminho)
root = tree.getroot()

colunas = ["TITLE", "ARTIST" ,"COUNTRY", "COMPANY","PRICE","YEAR"]
linhas = []

for node in root:
    titulo = node.find("TITLE").text
    artista = node.find("ARTIST").text
    pais = node.find("COUNTRY").text
    companhia = node.find("COMPANY").text
    preco = "$" + node.find("PRICE").text
    ano = node.find("YEAR").text
    linhas.append({"TITLE":titulo,"ARTIST":artista,"COUNTRY":pais,
                   "COMPANY":companhia,"PRICE":preco,"YEAR":ano})

dt = pd.DataFrame(linhas,columns = colunas)    
dt = dt.rename(columns={"TITLE":"Título","ARTIST":"Artista","COUNTRY":"País",
                        "COMPANY":"Gravadora","PRICE":"Preço","YEAR":"Ano de Lançamento"})

dt.head()

,Título,Artista,País,Gravadora,Preço,Ano de Lançamento
0,Empire Burlesque,Bob Dylan,USA,Columbia,$10.90,1985
1,Hide your heart,Bonnie Tyler,UK,CBS Records,$9.90,1988
2,Greatest Hits,Dolly Parton,USA,RCA,$9.90,1982
3,Still got the blues,Gary Moore,UK,Virgin records,$10.20,1990
4,Eros,Eros Ramazzotti,EU,BMG,$9.90,1997

In [1]:
import xml.etree.ElementTree as ET 
import pandas as pd

caminho = "C:/pastaX/pastaY/pastaZ/exemploXml.xml"

tree = ET.parse(caminho)
root = tree.getroot()

colunas = ["TITLE", "ARTIST" ,"COUNTRY", "COMPANY","PRICE","YEAR"]
linhas = []

for ramo in root:
    titulo = ramo.find("TITLE").text
    artista = ramo.find("ARTIST").text
    pais = ramo.find("COUNTRY").text
    companhia = ramo.find("COMPANY").text
    preco = "$" + ramo.find("PRICE").text
    ano = ramo.find("YEAR").text
    linhas.append({"TITLE":titulo,"ARTIST":artista,"COUNTRY":pais,
                   "COMPANY":companhia,"PRICE":preco,"YEAR":ano})

df = pd.DataFrame(linhas,columns = colunas)    
dfrename = df.rename(columns={"TITLE":"Título","ARTIST":"Artista","COUNTRY":"País",
                        "COMPANY":"Gravadora","PRICE":"Preço","YEAR":"Ano de Lançamento"})

dfrename.index.name = "Id" #Coluna default renomeada(índice)
dfrename.index +=1 #iniciando o indice na linha 1
dfrename.head()

,Título,Artista,País,Gravadora,Preço,Ano de Lançamento
Id,,,,,,
1,Empire Burlesque,Bob Dylan,USA,Columbia,$10.90,1985
2,Hide your heart,Bonnie Tyler,UK,CBS Records,$9.90,1988
3,Greatest Hits,Dolly Parton,USA,RCA,$9.90,1982
4,Still got the blues,Gary Moore,UK,Virgin records,$10.20,1990
5,Eros,Eros Ramazzotti,EU,BMG,$9.90,1997

In [76]:
#agora cria o scripot de carga
#Versão estável


import xml.etree.ElementTree as ET 
import pymysql

caminho = "C:/Users/Diego/Desktop/pythonRead/exemploXml.xml"

tree = ET.parse(caminho)
root = tree.getroot()

colunas = ["TITLE", "ARTIST" ,"COUNTRY", "COMPANY","PRICE","YEAR"]
linhas = []

for node in root:
    titulo = node.find("TITLE").text
    artista = node.find("ARTIST").text
    pais = node.find("COUNTRY").text
    companhia = node.find("COMPANY").text
    preco = "$" + node.find("PRICE").text
    ano = node.find("YEAR").text
    linhas.append({"TITLE":titulo,"ARTIST":artista,"COUNTRY":pais,
                   "COMPANY":companhia,"PRICE":preco,"YEAR":ano})

dt = pd.DataFrame(linhas,columns = colunas)    
dtrename = dt.rename(columns={"TITLE":"Título","ARTIST":"Artista","COUNTRY":"País",
                        "COMPANY":"Gravadora","PRICE":"Preço","YEAR":"Ano de Lançamento"})
dtrename.head()

#Criando um Arquivo de saída
#Observe que optei por definir o indice para o banco
dtrename.index.name = "Index"

dtout = dtrename.to_csv("C:/Users/Diego/Desktop/listona.csv",encoding='utf-8-sig')
#Dando carga no banco com os dados que foram transformados
#Definir a conexão com o banco de dados

host = 'localhost'
usuario = 'root'
password = 'admin'

#Criando a conexão
try:
    con = pymysql.connect(host,usuario,password,autocommit=True,local_infile=1)
except Exception as e:
    print('Error em Conectar ao Banco: {}'.format(str(e)))
    sys.exit(1)
print('Conectou ao Banco: {}'.format(host))

querydb = "CREATE DATABASE xml;"
cursor = con.cursor()
cursor.execute(querydb)

queryusedb = "USE xml;"
cursor = con.cursor()
cursor.execute(queryusedb)

querycreate = "CREATE TABLE txml(id int primary key,Título varchar(100),Artista varchar(100),País varchar(10),Gravadora varchar(100),Preço varchar(100),Ano_de_Laçamento varchar(10));"
cursor = con.cursor()
cursor.execute(querycreate)

queryload = "LOAD DATA LOCAL INFILE 'C:/Users/Diego/Desktop/listona.csv'\
            INTO TABLE txml\
            FIELDS TERMINATED BY ','\
            LINES TERMINATED BY '\n'\
            IGNORE 1 ROWS;" 

cursor = con.cursor()
cursor.execute(queryload)

Conectou ao Banco: localhost

26

In [86]:
#scripot de carga com mysql
import xml.etree.ElementTree as ET 
import pymysql
import pandas as pd

caminho = "C:/Users/Diego/Desktop/pythonRead/exemploXml.xml"

tree = ET.parse(caminho)
root = tree.getroot()

colunas = ["TITLE", "ARTIST" ,"COUNTRY", "COMPANY","PRICE","YEAR"]
linhas = []

for node in root:
    titulo = node.find("TITLE").text
    artista = node.find("ARTIST").text
    pais = node.find("COUNTRY").text
    companhia = node.find("COMPANY").text
    preco = "$" + node.find("PRICE").text
    ano = node.find("YEAR").text
    linhas.append({"TITLE":titulo,"ARTIST":artista,"COUNTRY":pais,
                   "COMPANY":companhia,"PRICE":preco,"YEAR":ano})

dt = pd.DataFrame(linhas,columns = colunas)    
dtrename = dt.rename(columns={"TITLE":"Título","ARTIST":"Artista","COUNTRY":"País",
                        "COMPANY":"Gravadora","PRICE":"Preço","YEAR":"Ano de Lançamento"})
dtrename.head()

dtrename.index.name = "Index"

#continuação do código anterior
#Criando o arquivo de saída com extensão .csv
dfsaida = dfrename.to_csv("C:/pastaX/pastaY/pastaZ/exemploAnterior.csv",encoding='utf-8-sig')

#Definir os parâmetros da conexão com o banco de dados.

host = 'localhostOuIP'
usuario = 'usuarioBanco'
password = 'senhaBanco'

#Criando a conexão
try:
    con = pymysql.connect(host,usuario,password,autocommit=True,local_infile=1)
except Exception as e:
    print('Error em Conectar ao Banco: {}'.format(str(e)))
    sys.exit(1)
print('Conectou ao Banco: {}'.format(host))
#Criar a Database no código
querydb = "CREATE DATABASE exemploDb;"
cursor = con.cursor()
cursor.execute(querydb)
#Importante definir o uso da Database;
queryusedb = "USE exemploDb;"
cursor = con.cursor()
cursor.execute(queryusedb)
#Query de Criação da Tabela
querycreate = "CREATE TABLE cargaCsv(id int primary key,\
               Título varchar(100),\
               Artista varchar(100),\
               País varchar(10),\
               Gravadora varchar(100),\
               Preço varchar(100),\
               Ano_de_Laçamento varchar(10));"
cursor = con.cursor()
cursor.execute(querycreate)
#Query de Carregamento no Banco de Dados
queryload = "LOAD DATA LOCAL INFILE 'C:/pastaX/pastaY/pastaZ/exemploAnterior.csv'\
            INTO TABLE txml\
            FIELDS TERMINATED BY ','\
            LINES TERMINATED BY '\n'\
            IGNORE 1 ROWS;" 
cursor = con.cursor()
cursor.execute(queryload)

Conectou ao Banco: localhost

26

In [25]:
https://dev.mysql.com/doc/refman/8.0/en/load-data.html

host = 'localhost'
usuario = 'root'
password = 'admin'

#Criando a conexão
try:
    con = pymysql.connect(host,usuario,password,autocommit=True,local_infile=1)
except Exception as e:
    print('Error em Conectar ao Banco: {}'.format(str(e)))
    sys.exit(1)
print('Conectou ao Banco: {}'.format(host))

#Criando as querys

querydb = "CREATE DATABASE pythoncsv;"

queryuse = "Use pythoncsv;"

querytable = "CREATE TABLE dadoscsv(nomeFoto varchar(255),num1 int(5),num2 int(5),num3 int(5),num4 int(10),num5 int(10));"

load_csv = "LOAD DATA LOCAL INFILE 'C:/Users/Diego/Desktop/Python/anno_train.csv' INTO TABLE dadoscsv \
            FIELDS TERMINATED BY ',' ENCLOSED BY '''';"

Conectou ao Banco: localhost

In [82]:
if(10 < 5):
    print("Verdade")
else:
    print("Mentira")

Mentira