In [5]:
#importando dados do SQL Server
#instale pip instal pyodbc
#https://docs.microsoft.com/pt-br/sql/connect/python/pyodbc/step-3-proof-of-concept-connecting-to-sql-using-pyodbc?view=sql-server-ver15
#https://docs.microsoft.com/pt-br/sql/connect/python/pyodbc/step-3-proof-of-concept-connecting-to-sql-using-pyodbc?view=sql-server-ver15
import sys
import os
import pyodbc
import pandas as pd

conn = pyodbc.connect("Driver = {SQL Server};Server=BLACKBOT;Database=AdventureWorks2017;uid=Diego;pwd=castaneda;Trusted_Connection = yes;")
cursor = conn.cursor()
cursor.execute('Select * from AdventureWorks2017.Sales.SalesPerson')
for row in cursor:
    print('row = %r' % (row,))
  
                          
df = pd.read_sql_query('select * from table', cnxn)

InterfaceError: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Nome da fonte de dados não encontrado e nenhum driver padrão especificado (0) (SQLDriverConnect)')

In [37]:
#use autenticação do windows server para conectar e não a do sistema
#inicie o serviço no cmd: Sqlcmd -

import sys
import os
import pyodbc
import traceback
import logging

server = 'BLACKBOT' 
database = 'Banco' 
username = 'admin' 
password = 'admin' 

cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

cursor.execute('SELECT * FROM Banco.dbo.CUSTOMERS')
for row in cursor:
    print(row)

(1, 'Ramesh', 32, 'Ahmedabad                ', Decimal('2000.00'))
(2, 'Khilan', 25, 'Delhi                    ', Decimal('1500.00'))
(3, 'kaushik', 23, 'Kota                     ', Decimal('2000.00'))
(4, 'Chaitali', 25, 'Mumbai                   ', Decimal('6500.00'))
(5, 'Hardik', 27, 'Bhopal                   ', Decimal('8500.00'))
(6, 'Komal', 22, 'MP                       ', Decimal('4500.00'))

In [42]:
#Try 
try:
    g()
except Exception as ex:
    logging.exception("Something awful happened!")
    # will print this message followed by traceback

ERROR:root:Something awful happened!
Traceback (most recent call last):
  File "<ipython-input-42-2708868580ee>", line 3, in <module>
    g()
NameError: name 'g' is not defined

In [35]:
#Versão estável

import sys
import os
import pyodbc
import traceback
import logging

#Crie um usuário e uma senha no SQL Server Diferente da Autenticação conjunta com o sistema.
#Verifique também as opções de acesso para o usuário

server = 'BLACKBOT' #Nome do Server - Geralmente o nome do Computador 
database = 'Banco' #Nome da base de dados que iremos operar
username = 'admin' #Senha 
password = 'admin' #password

#Criando a Conexão
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password,autocommit=True)
#Definindo em um cursor

cursor = cnxn.cursor()
cursor.execute('SELECT * FROM Banco.dbo.CUSTOMERS')
for row in cursor:
    print(row)

(1, 'Ramesh', 32, 'Ahmedabad                ', Decimal('2000.00'))
(2, 'Khilan', 25, 'Delhi                    ', Decimal('1500.00'))
(3, 'kaushik', 23, 'Kota                     ', Decimal('2000.00'))
(4, 'Chaitali', 25, 'Mumbai                   ', Decimal('6500.00'))
(5, 'Hardik', 27, 'Bhopal                   ', Decimal('8500.00'))
(6, 'Komal', 22, 'MP                       ', Decimal('4500.00'))

In [5]:
import sys
import os
import pyodbc
import logging

server = 'BLACKBOT' 
database = 'testePython' 
username = 'admin' 
password = 'admin' 

cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

#Criar um base de dados antes lá no 
cursor.execute("USE testePython")
cursor.execute("INSERT INTO cliente(nome)values('Diego')")





#cursor.execute('SELECT * FROM Banco.dbo.CUSTOMERS')
#for row in cursor:
#    print(row)

In [31]:
#scripot de carga
import xml.etree.ElementTree as ET 
import pymysql
import pandas as pd
import numpy as np

caminho = "C:/Users/Diego/Desktop/pythonRead/exemploXml.xml"

tree = ET.parse(caminho)
root = tree.getroot()

colunas = ["TITLE", "ARTIST" ,"COUNTRY", "COMPANY","PRICE","YEAR"]
linhas = []

for node in root:
    titulo = node.find("TITLE").text
    artista = node.find("ARTIST").text
    pais = node.find("COUNTRY").text
    companhia = node.find("COMPANY").text
    preco = "$" + node.find("PRICE").text
    ano = node.find("YEAR").text
    linhas.append({"TITLE":titulo,"ARTIST":artista,"COUNTRY":pais,
                   "COMPANY":companhia,"PRICE":preco,"YEAR":ano})

df = pd.DataFrame(linhas,columns = colunas)    
dfrename = df.rename(columns={"TITLE":"Título","ARTIST":"Artista","COUNTRY":"País",
                        "COMPANY":"Gravadora","PRICE":"Preço","YEAR":"Ano de Lançamento"})


dfrename.index.name = "Index"
dfrename.index = np.arange(1,len(dfrename)+1)
#dfrename.index +=1
dfrename.head()



#continuação do código anterior
#Criando o arquivo de saída com extensão .csv
#dfsaida = dfrename.to_csv("C:/Users/Diego/Desktop/exemploAnterior.csv",encoding='utf-8-sig')

#Definir os parâmetros da conexão com o banco de dados.

#host = 'localhostOuIP'
#usuario = 'usuarioBanco'
#password = 'senhaBanco'

#Criando a conexão
#try:
#    con = pymysql.connect(host,usuario,password,autocommit=True,local_infile=1)
#except Exception as e:
#    print('Error em Conectar ao Banco: {}'.format(str(e)))
#    sys.exit(1)
#print('Conectou ao Banco: {}'.format(host))
#Criar a Database no código
#querydb = "CREATE DATABASE exemploDb;"
#cursor = con.cursor()
#cursor.execute(querydb)
#Importante definir o uso da Database;
#queryusedb = "USE exemploDb;"
#cursor = con.cursor()
#cursor.execute(queryusedb)
#Query de Criação da Tabela
#querycreate = "CREATE TABLE cargaCsv(id int primary key,\
#               Título varchar(100),\
#               Artista varchar(100),\
#               País varchar(10),\
#               Gravadora varchar(100),\
#               Preço varchar(100),\
#               Ano_de_Laçamento varchar(10));"
#cursor = con.cursor()
#cursor.execute(querycreate)
#Query de Carregamento no Banco de Dados
#queryload = "LOAD DATA LOCAL INFILE 'C:/pastaX/pastaY/pastaZ/exemploAnterior.csv'\
#            INTO TABLE txml\
#            FIELDS TERMINATED BY ','\
#            LINES TERMINATED BY '\n'\
#            IGNORE 1 ROWS;" 
#cursor = con.cursor()
#cursor.execute(queryload)

,Título,Artista,País,Gravadora,Preço,Ano de Lançamento
1,Empire Burlesque,Bob Dylan,USA,Columbia,$10.90,1985
2,Hide your heart,Bonnie Tyler,UK,CBS Records,$9.90,1988
3,Greatest Hits,Dolly Parton,USA,RCA,$9.90,1982
4,Still got the blues,Gary Moore,UK,Virgin records,$10.20,1990
5,Eros,Eros Ramazzotti,EU,BMG,$9.90,1997

In [32]:
#scripot de carga
import xml.etree.ElementTree as ET 
import pymysql
import pandas as pd
import numpy as np

caminho = "C:/Users/Diego/Desktop/pythonRead/exemploXml.xml"

tree = ET.parse(caminho)
root = tree.getroot()

colunas = ["TITLE", "ARTIST" ,"COUNTRY", "COMPANY","PRICE","YEAR"]
linhas = []

for node in root:
    titulo = node.find("TITLE").text
    artista = node.find("ARTIST").text
    pais = node.find("COUNTRY").text
    companhia = node.find("COMPANY").text
    preco = "$" + node.find("PRICE").text
    ano = node.find("YEAR").text
    linhas.append({"TITLE":titulo,"ARTIST":artista,"COUNTRY":pais,
                   "COMPANY":companhia,"PRICE":preco,"YEAR":ano})

df = pd.DataFrame(linhas,columns = colunas)    
dfrename = df.rename(columns={"TITLE":"Título","ARTIST":"Artista","COUNTRY":"País",
                        "COMPANY":"Gravadora","PRICE":"Preço","YEAR":"Ano de Lançamento"})

#Retornando os dados
dfrename.index.name = "Id"
dfrename.index +=1
dfrename.head()

,Título,Artista,País,Gravadora,Preço,Ano de Lançamento
Id,,,,,,
1,Empire Burlesque,Bob Dylan,USA,Columbia,$10.90,1985
2,Hide your heart,Bonnie Tyler,UK,CBS Records,$9.90,1988
3,Greatest Hits,Dolly Parton,USA,RCA,$9.90,1982
4,Still got the blues,Gary Moore,UK,Virgin records,$10.20,1990
5,Eros,Eros Ramazzotti,EU,BMG,$9.90,1997

In [29]:
#https://docs.microsoft.com/en-us/sql/t-sql/statements/bulk-insert-transact-sql?view=sql-server-ver15
import sys
import os
import pyodbc
#import traceback
#import logging

#Crie um usuário e uma senha no SQL Server Diferente da Autenticação conjunta com o sistema.
#Verifique também as opções de acesso para o usuário

server = 'BLACKBOT' #Nome do Server - Geralmente o nome do Computador 
database = 'Banco' #Nome da base de dados que iremos operar
username = 'admin' #Senha 
password = 'admin' #password

#Criando a Conexão

try:
    con = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password,local_infile=1,autocommit=True)
except Exception as e:
    print('Error em Conectar ao Banco: {}'.format(str(e)))
    sys.exit(1)
print('Conectou ao Servidor: {}'.format(server))

#Criar a Database no código
querydb = "CREATE DATABASE dadosXml"
cursor = con.cursor()
cursor.execute(querydb)

#Importante definir o uso da Database;

queryusedb = "USE dadosXml"
cursor = con.cursor()
cursor.execute(queryusedb)

#Query de Criação da Tabela
querycreate = "CREATE TABLE cargaCsv(\
               id int primary key,\
               Título nvarchar(100),\
               Artista nvarchar(100),\
               País nvarchar(10),\
               Gravadora nvarchar(100),\
               Preço varchar(100),\
               Ano_de_Laçamento nvarchar(10))"
cursor = con.cursor()
cursor.execute(querycreate)


#Query de Carregamento no Banco de Dados
queryload = "BULK INSERT dadosXml.[dbo].[cargaCsv] FROM 'C:/Users/Diego/Desktop/temptemp/exemploAnterior.csv' \
                   WITH(\
                   FIRSTROW = 2,\
                   CODEPAGE = '65001',\
                   DATAFILETYPE = 'char',\
                   FIELDTERMINATOR = ',',\
                   ROWTERMINATOR = '\n'\
                   )"           
        
cursor = con.cursor()
cursor.execute(queryload)
if(queryload == True):
    print("Gravado Com Sucesso")

Conectou ao Servidor: BLACKBOT

NameError: name 'querload' is not defined

In [3]:
import sys
import os
import pyodbc
import xml.etree.ElementTree as ET 
import pandas as pd

caminho = "C:/Users/Diego/Desktop/pythonRead/exemploXml.xml"

tree = ET.parse(caminho)
root = tree.getroot()

colunas = ["TITLE", "ARTIST" ,"COUNTRY", "COMPANY","PRICE","YEAR"]
linhas = []

for node in root:
    titulo = node.find("TITLE").text
    artista = node.find("ARTIST").text
    pais = node.find("COUNTRY").text
    companhia = node.find("COMPANY").text
    preco = "$" + node.find("PRICE").text
    ano = node.find("YEAR").text
    linhas.append({"TITLE":titulo,"ARTIST":artista,"COUNTRY":pais,
                   "COMPANY":companhia,"PRICE":preco,"YEAR":ano})

df = pd.DataFrame(linhas,columns = colunas)    
dfrename = df.rename(columns={"TITLE":"Título","ARTIST":"Artista","COUNTRY":"País",
                        "COMPANY":"Gravadora","PRICE":"Preço","YEAR":"Ano de Lançamento"})

#Retornando os dados
dfrename.index.name = "Id"
dfrename.index +=1
dfrename.head()

#Criando um documento.csv que será carregado no banco de dados
#Defina uma pasta com as permissões de acesso para o MSQl-Server para receber o documento
dfsaida = dfrename.to_csv("C:/Users/Diego/Desktop/temptemp/exemploAnterior.csv",encoding='utf-8-sig')

#Crie um usuário e uma senha no SQL Server Diferente da Autenticação conjunta com o sistema.
#Verifique também as opções de acesso para o usuário
#Parâmetros da Conexão com o banco de dados 
server = 'BLACKBOT' #Nome do Server - Geralmente o mesmo nome do Computador 
username = 'admin' #Senha 
password = 'admin' #password

#Criando a Conexão
try:
    con = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};\
    SERVER='+server+';\
    UID='+username+';\
    PWD='+ password,local_infile=1,autocommit=True)
except Exception as e:
    print('Error em Conectar ao Banco: {}'.format(str(e)))
    sys.exit(1)
print('Conectou ao Servidor: {}'.format(server))

#Criar a Database no código
querydb = "CREATE DATABASE dadosXml"
cursor = con.cursor()
cursor.execute(querydb)

#Importante definir o uso da Database;
queryusedb = "USE dadosXml"
cursor = con.cursor()
cursor.execute(queryusedb)

#Query de Criação da Tabela
querycreate = "CREATE TABLE cargaCsv(\
               id int primary key,\
               Título nvarchar(100),\
               Artista nvarchar(100),\
               País nvarchar(10),\
               Gravadora nvarchar(100),\
               Preço nvarchar(10),\
               Ano_de_Laçamento int)"
cursor = con.cursor()
cursor.execute(querycreate)

#Query de Carregamento no Banco de Dados
queryload = "BULK INSERT dadosXml.[dbo].[cargaCsv] FROM 'C:/Users/Diego/Desktop/temptemp/exemploAnterior.csv' \
                   WITH(\
                   FIRSTROW = 2,\
                   CODEPAGE = '65001',\
                   DATAFILETYPE = 'char',\
                   FIELDTERMINATOR = ',',\
                   ROWTERMINATOR = '\n'\
                   )"           
        
cursor = con.cursor()
cursor.execute(queryload)
cursor.close()

if(queryload != False):
    print("Gravado Com Sucesso")

Conectou ao Servidor: BLACKBOT
Gravado Com Sucesso

In [ ]:
import sys
import os
import pyodbc
import xml.etree.ElementTree as ET 
import pandas as pd

tree = ET.parse(caminho)
root = tree.getroot()

colunas = ["TITLE", "ARTIST" ,"COUNTRY", "COMPANY","PRICE","YEAR"]
linhas = []

for ramo in root:
    titulo = ramo.find("TITLE").text
    artista = ramo.find("ARTIST").text
    pais = ramo.find("COUNTRY").text
    companhia = ramo.find("COMPANY").text
    preco = "$" + ramo.find("PRICE").text
    ano = ramo.find("YEAR").text
    linhas.append({"TITLE":titulo,"ARTIST":artista,"COUNTRY":pais,
                   "COMPANY":companhia,"PRICE":preco,"YEAR":ano})

df = pd.DataFrame(linhas,columns = colunas)    
dfrename = df.rename(columns={"TITLE":"Título","ARTIST":"Artista","COUNTRY":"País",
                        "COMPANY":"Gravadora","PRICE":"Preço","YEAR":"Ano de Lançamento"})

#Retornando os dados
dfrename.index.name = "Id"
dfrename.index +=1
dfrename.head()

#Criando um documento.csv que será carregado no banco de dados
#Defina uma pasta com as permissões de acesso para o MSQl-Server para receber o documento
dfsaida = dfrename.to_csv("C:/pastaX/pastaY/pastaZ/exemploAnterior.csv",encoding='utf-8-sig')

#Crie um usuário e uma senha no SQL Server Diferente da Autenticação conjunta com o sistema.
#Verifique também as opções de acesso para o usuário
#Parâmetros da Conexão com o banco de dados 
server = 'Servidor' #Nome do Server - Geralmente o mesmo nome do Computador 
username = 'Usuário' #Usuário do Servidor
password = 'Senha' # Senha do Servidor

#Criando a Conexão
try:
    con = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};\
    SERVER='+server+';\
    UID='+username+';\
    PWD='+ password,local_infile=1,autocommit=True)
except Exception as e:
    print('Error em Conectar ao Banco: {}'.format(str(e)))
    sys.exit(1)
print('Conectou ao Servidor: {}'.format(server))

#Criar a Database no código
querydb = "CREATE DATABASE dadosXml"
cursor = con.cursor()
cursor.execute(querydb)

#Importante definir o uso da Database;
queryusedb = "USE dadosXml"
cursor = con.cursor()
cursor.execute(queryusedb)

#Query de Criação da Tabela
querycreate = "CREATE TABLE cargaCsv(\
               id int primary key,\
               Título nvarchar(100),\
               Artista nvarchar(100),\
               País nvarchar(10),\
               Gravadora nvarchar(100),\
               Preço nvarchar(10),\
               Ano_de_Laçamento int)"
cursor = con.cursor()
cursor.execute(querycreate)

#Query de Carregamento no Banco de Dados
queryload = "BULK INSERT dadosXml.[dbo].[cargaCsv] FROM 'C:/pastaX/pastaY/pastaZ/exemploAnterior.csv' \
                   WITH(\
                   FIRSTROW = 2,\
                   CODEPAGE = '65001',\
                   DATAFILETYPE = 'char',\
                   FIELDTERMINATOR = ',',\
                   ROWTERMINATOR = '\n'\
                   )"           
        
cursor = con.cursor()
cursor.execute(queryload)
cursor.close()

In [ ]:
DATABASE='+database+';\
database = 'Banco' #Nome da base de dados que iremos operar